services:
  postgres:
    image: postgres:16-alpine
    container_name: orbit-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orbit
    ports:
      - "5432:5432"
    volumes:
      - ./.containers/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - orbit-network

  seq:
    image: datalust/seq:latest
    container_name: orbit-seq
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=admin
    ports:
      - "5341:80"
    volumes:
      - ./.containers/seq:/data
    networks:
      - orbit-network
    restart: unless-stopped

  api:
    image: orbit-api
    container_name: orbit-api
    build:
      context: .
      dockerfile: Api/Dockerfile
    ports:
      - "4000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=orbit;Username=postgres;Password=postgres
      - Seq__ServerUrl=http://seq:80
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - orbit-network
    restart: unless-stopped

  papercut:
    image: changemakerstudiosus/papercut-smtp:latest
    container_name: papercut
    ports:
      - 8080:80
      - 25:25
    networks:
      - orbit-network
    restart: unless-stopped

networks:
  orbit-network:
    driver: bridge
